body {
  font-size: 14px;
}

.favoriteSite_Container {
  width: 190px;
  height: 147px;
  padding: 12px;
  background: linear-gradient(180deg,#ccc, #F5F5F5);
  border-radius: 5px;
  border: 1px solid gray;  
}

.favoriteSite_Head {
  display: flex;
  flex-direction: row;
}

.favoriteSite_title_one {
  margin: 0 0 8px;
}

.favoriteSite_title_two {
  color: orangered;
}

.plus_link {
  text-decoration: none;
  color: #000;

  margin-left: 35px;
}

.favoriteSite_List {
  margin: 8px 0 0;
  padding: 0;
  list-style-type: none;   
}

li {
  margin: 8px;
  padding-left: 5px;
  counter-increment: number;
}

li::before {
  content: counter(number); 
  background-color: #A3A3A3;
  width: 16px;
  height: 16px;
  color: #fff;
  border-radius: 5px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center; 
  align-items: center;  
  margin-right: 5px;
}

.favoriteSite_List_One::before {
  background-color: #7A7A7A;
}

.sprite {
  background: url(./sprite.png) no-repeat;
  background-position: right;
}

.spriteOne {
  background-position : 165px 6px
}

.spriteTwo {
  background-position : 165px -37px
}

.spriteThird {
  background-position : 165px -15px
}

.spriteFourth {
  background-position : 165px 2px
}